# API
fastapi==0.95.0
uvicorn==0.21.1
pydantic==1.10.7

# AWS
boto3==1.26.115
awswrangler==3.1.1

# Data Processing
pandas==2.0.0
numpy==1.24.2
pyarrow==12.0.0
duckdb==0.7.1
dask==2023.3.2
distributed==2023.3.2

# ML
scikit-learn==1.2.2
xgboost==1.7.5
lightgbm==3.3.5
shap==0.41.0
lime==0.2.0.1
mlflow==2.3.0
river==0.14.0
feature-engine==1.5.2

# Visualization
matplotlib==3.7.1
seaborn==0.12.2

# Utilities
tqdm==4.65.0
python-dotenv==1.0.0
pytest==7.3.1
maturin==0.14.17